.background-view-1 {
  display: flex;
  flex-direction: column;
  height: 100%;

  background-image:url(/static/bg1.jpg);
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  min-height:100px;
}

.background-view-2 {
  display: flex;
  flex-direction: column;
  height: 100%;

  background-image:url(/static/bg2.jpg);
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  min-height:100px;
}

.background-view-3 {
  display: flex;
  flex-direction: column;
  height: 100%;

  background-image:url(/static/bg3.jpg);
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  min-height:100px;
}

.background-view-4 {
  display: flex;
  flex-direction: column;
  height: 100%;

  background-image:url(/static/bg4.jpg);
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  min-height:100px;
}

.background-view-5 {
  display: flex;
  flex-direction: column;
  height: 100%;

  background-image:url(/static/bg5.jpg);
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  min-height:100px;
}

.background-view-6 {
  display: flex;
  flex-direction: column;
  height: 100%;

  background-image:url(/static/bg6.jpg);
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  min-height:100px;
}

.background-view-7 {
  display: flex;
  flex-direction: column;
  height: 100%;

  background-image:url(/static/bg7.jpg);
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  min-height:100px;
}

.background-view-8 {
  display: flex;
  flex-direction: column;
  height: 100%;

  background-image:url(/static/bg8.jpg);
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  min-height:100px;
}

.background-view-9 {
  display: flex;
  flex-direction: column;
  height: 100%;

  background-image:url(/static/bg9.jpg);
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  min-height:100px;
}

.background-view-clear {
  display: flex;
  flex-direction: column;
  height: 100%;

  background-image:url(/static/clear.jpg);
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  min-height:100px;
}

.background-view-about {
  display: flex;
  flex-direction: column;
  height: 100%;

  background-image:url(/static/about.jpg);
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  min-height:100px;
}