.resources-view ol {
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
}

.resources-view li {
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, box-shadow;
}

.resources-view li:hover {
  background-color: var(--lumo-base-color);
  box-shadow: var(--lumo-box-shadow-s);
}
