.signup-view-container {
  background-color: white;
}

.signup-view-header {
  background-color: black;
}

.signup-view-logo {
    padding-top: 0px;
    padding-left: 50px;
    padding-wright: 50px;
    width: 80%;
    height: auto;
}
