<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Refresh" content="0; url='${URL}'" />
    <title>Wippit CMS</title>
</head>
<body style="background-color: #F3E9E8;">
<p>${NAME}}</p>
</body>
</html>