@import "theme-editor.css";
@import url('./main-layout.css');
@import url('./views/signup-view.css');
@import url('./views/dashboard-view.css');
@import url('./views/articles-view.css');
@import url('./views/resources-view.css');
@import url('./views/connections-view.css');
@import url('./views/users-view.css');
@import url('./views/translations-view.css');
@import url('./views/template-view.css');
@import url('./views/activity-logs-view.css');
@import url('./views/page-logs-view.css');
@import url('./views/page-stats-view.css');
@import url('./views/background-view.css');

html {
      --lumo-size-xl: 4rem;
      --lumo-size-l: 3rem;
      --lumo-size-m: 2.5rem;
      --lumo-size-s: 2rem;
      --lumo-size-xs: 1.75rem;
      --lumo-space-xl: 1.875rem;
      --lumo-space-l: 1.25rem;
      --lumo-space-m: 0.625rem;
      --lumo-space-s: 0.3125rem;
      --lumo-space-xs: 0.1875rem;
    }


[theme~="light"] {
  --lumo-secondary-color: hsl(8, 87%, 47%);
  --lumo-secondary-color-50pct: hsla(8, 87%, 47%, 0.5);
  --lumo-secondary-color-10pct: hsla(8, 87%, 47%, 0.1);
}

vaadin-drawer-toggle::part(icon)::before {
    color: var(--lumo-primary-color);
}

.toolbar_title {
    margin: auto;
    font-size: 1.2em;
    color: var(--lumo-primary-color);
}

.toolbar_label {
    margin: auto;
}

.toolbar_header {
}

.toolbar_footer {
}

.toolbar_primary {
}

.toolbar_secondary {
}

.color_primary {
    background-color: var(--lumo-primary-color);
}

.color_secondary {
    background-color: var(--lumo-secondary-color);
}

.menu-bg {
    background-color: black;
    background-image:url(/static/logo.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    min-height:100px;
}

.image_box_small {
    width: 100px;
    height: auto;
}

.image_box_medium {
    width: 200px;
    height: auto;
}

.image_box_large {
    width: 400px;
    height: auto;
}

