/*
 * This file has been created by the Vaadin Theme Editor. Please note that
 * manual changes to individual CSS properties may be overwritten by the theme editor.
 */

vaadin-login-overlay-wrapper::part(backdrop) {
    background-color: transparent;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    min-height:100vh;
}


vaadin-login-overlay-wrapper::part(brand) {
  background-color:black;
  background-image:url(/static/logo.png);
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
}

